# The Postgres account username and password to use.
POSTGRES_USER=
POSTGRES_PASSWORD=

# The database to create.
# You can still create additional databases after the cluster is created.
POSTGRES_DB=

# The password used to authenticate replication.
# This should be random and unique, not a copy of POSTGRES_PASSWORD.
POSTGRES_REPL_PASSWORD=
